<!DOCTYPE html>
<head>
  <link href="{{ site.baseurl }}/css/bootswatch.min.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/css/style.css" rel="stylesheet">
</head>
<body>
  {% include header.html %}
  <div class="container">
    <div class="row">
      <div class="col-md-7">{{ content }}
      {% if page.forms[0] %}{% include form.html form="1" %}{% endif %}
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4">{% include sidebar.html %}
    </div>
      {% include footer.html %}
  </div>
<!--   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

</body>
</html>
